<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--开启日志 SETTING控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    环境配置 数据库的连接信息-->
    <environments default="mydev">
        <!-- environment ：一个数据库信息的配置 环境
             id 一个唯一值自定义的，表示环境名称
             default 必须与下面的 environment id一样 告诉mybatis使用那个数据库
        -->
        <environment id="mydev">
            <!--
                transactionManager  mybatis的事务类型
                type:JDBq(表示使用jdbc中的Connection对象的commit , rollback做事务处理)
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource:表示数据源,连接数据库的
                type :表示数据源的类型,POOLED表示使用连接池
            -->
            <dataSource type="POOLED">
                <!--driver  url username password 是固定的不能随便改-->
                <!--数据库的驱动类名-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--mysql 8.0 连接方式有点不一样 还对时区有要求，引用下面的连接即可-->
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true"/>
                <!--访问数据库用户名和密码-->
                <property name="username" value="root"/>
                <property name="password" value="13666"/>
            </dataSource>
        </environment>

        <!--表示线上用的数据库 是项目正是使用的数据库  假装 其实没有hh-->
            <environment id="online">
                <transactionManager type="JDBC"/>
                <dataSource type="POOLED">
                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                    <property name="url" value="jdbc:mysql://localhost:3306/onlinedb"/>
                    <property name="username" value="root"/>
                    <property name="password" value="136fjf66"/>
                </dataSource>
            </environment>
    </environments>
    <!--sql mapper（sql映射文件的位置）-->
    <mappers>
        <!--一个mapper 指定一个文件的位置
        从类路径开始的路径信息 target/clasess（类路径）
        -->
        <mapper resource="com/yiyiersanwu/dao/StudentDao.xml"/>

        <!--有一个写一个 下面这个没有 演示用的-->
<!--        <mapper resource="com/yiyiersanwu/dao/SchoolDao.xml"/>-->
    </mappers>
</configuration>

<!--
    mybatis的主配置文件:主要定义了数据库的配置信息，sql映射文件的位置
    1.约束文件
    <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
-->